*.pdf
week-2/ex1/computeCostMulti.m
week-2/ex1/featureNormalize.m
week-2/ex1/gradientDescentMulti.m
week-2/ex1/normalEqn.m
week-2/ex1/ex1_multi.m
*submit.m
*token.mat
*lib
week-7/machine-learning-ex6/ex6/*.mat
week-7/machine-learning-ex6/ex6/*.txt